In [1]:
import matplotlib.pyplot as plt
import statsmodels.tsa.seasonal as smt
import numpy as np 
import pandas as pd 
import random
import datetime as dt
from sklearn import linear_model 
from sklearn.metrics import mean_absolute_error
import plotly
from keras.models import Sequential
from keras.layers import Activation, Dense
from keras.layers import LSTM
from keras.layers import Dropout
import tensorflow as tf
import math

Using TensorFlow backend.

In [2]:
def rmse(x,y): return math.sqrt(((x-y)**2).mean())
def print_score(m):
    res = [rmse(m.predict(X_train), y_train), rmse(m.predict(X_val), y_val),
                m.score(X_train, y_train), m.score(X_val, y_val)]
    print(f"rmse train {res[0]}, rmse val {res[1]}, r^2 train {res[2]}, r^2 val {res[3]}")

In [3]:
df=pd.read_csv('E:/Datasets/stock-market-dataset/stocks/PFE.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1972-06-01,0.000000,0.859375,0.846354,0.859375,0.000594,2332800
1,1972-06-02,0.859375,0.861979,0.846354,0.848958,0.000587,1531200
2,1972-06-05,0.848958,0.851562,0.841146,0.846354,0.000585,2452800
3,1972-06-06,0.846354,0.869792,0.843750,0.864583,0.000598,2227200
4,1972-06-07,0.864583,0.864583,0.851562,0.864583,0.000598,979200
...,...,...,...,...,...,...,...
12059,2020-03-26,29.889999,31.990000,29.879999,31.750000,31.750000,41053100
12060,2020-03-27,30.799999,31.740000,30.660000,30.900000,30.900000,36328600
12061,2020-03-30,31.049999,32.849998,31.049999,32.669998,32.669998,28409400
12062,2020-03-31,32.400002,33.000000,32.240002,32.639999,32.639999,27956500
12063,2020-04-01,31.920000,32.279999,31.530001,31.750000,31.750000,25337200

making new features

In [4]:
df['H-L']=df['High']-df['Low']
df['O-C']=df['Close']-df['Open']

In [5]:
#https://www.investopedia.com/terms/m/movingaverage.asp
def MA(dataset,days):
    n=days
    dataset['{} DAYS MA'.format(n)]=0
    for i in range(len(dataset)):
        dataset['{} DAYS MA'.format(n)].iloc[i]=sum(dataset['Close'].iloc[i-n:i])/n

In [6]:
MA(df,7)
MA(df,14)
MA(df,21)

C:\Users\oukle\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,H-L,O-C,7 DAYS MA,14 DAYS MA,21 DAYS MA
0,1972-06-01,0.000000,0.859375,0.846354,0.859375,0.000594,2332800,0.013021,0.859375,0.000000,0.000000,0.000000
1,1972-06-02,0.859375,0.861979,0.846354,0.848958,0.000587,1531200,0.015625,-0.010417,0.000000,0.000000,0.000000
2,1972-06-05,0.848958,0.851562,0.841146,0.846354,0.000585,2452800,0.010417,-0.002604,0.000000,0.000000,0.000000
3,1972-06-06,0.846354,0.869792,0.843750,0.864583,0.000598,2227200,0.026042,0.018229,0.000000,0.000000,0.000000
4,1972-06-07,0.864583,0.864583,0.851562,0.864583,0.000598,979200,0.013021,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
12059,2020-03-26,29.889999,31.990000,29.879999,31.750000,31.750000,41053100,2.110001,1.860001,30.270000,31.452857,32.553333
12060,2020-03-27,30.799999,31.740000,30.660000,30.900000,30.900000,36328600,1.080000,0.100000,30.211429,31.219286,32.411905
12061,2020-03-30,31.049999,32.849998,31.049999,32.669998,32.669998,28409400,1.799999,1.619999,30.002857,31.015000,32.259524
12062,2020-03-31,32.400002,33.000000,32.240002,32.639999,32.639999,27956500,0.759998,0.239998,30.324286,30.877857,32.223809
12063,2020-04-01,31.920000,32.279999,31.530001,31.750000,31.750000,25337200,0.749998,-0.170000,30.842857,30.911428,32.117143

In [8]:
#https://www.fidelity.com/learning-center/trading-investing/technical-analysis/technical-indicator-guide/standard-deviation
import math
def std_dev(dataset,days):
    n=days
    dataset['{} DAYS STD DEV'.format(days)]=0
    dataset['sq(C-MA)']=(dataset['Close']-dataset['{} DAYS MA'.format(n)])**2
    for i in range(len(dataset)):
        dataset['{} DAYS STD DEV'.format(n)].iloc[i]=math.sqrt(sum(dataset['sq(C-MA)'].iloc[i-n:i])/n)
    dataset.drop('sq(C-MA)', axis=1,inplace=True)

In [9]:
std_dev(df,7)

C:\Users\oukle\Anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
df

,Date,Open,High,Low,Close,Adj Close,Volume,H-L,O-C,7 DAYS MA,14 DAYS MA,21 DAYS MA,7 DAYS STD DEV
0,1972-06-01,0.000000,0.859375,0.846354,0.859375,0.000594,2332800,0.013021,0.859375,0.000000,0.000000,0.000000,0.000000
1,1972-06-02,0.859375,0.861979,0.846354,0.848958,0.000587,1531200,0.015625,-0.010417,0.000000,0.000000,0.000000,0.000000
2,1972-06-05,0.848958,0.851562,0.841146,0.846354,0.000585,2452800,0.010417,-0.002604,0.000000,0.000000,0.000000,0.000000
3,1972-06-06,0.846354,0.869792,0.843750,0.864583,0.000598,2227200,0.026042,0.018229,0.000000,0.000000,0.000000,0.000000
4,1972-06-07,0.864583,0.864583,0.851562,0.864583,0.000598,979200,0.013021,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12059,2020-03-26,29.889999,31.990000,29.879999,31.750000,31.750000,41053100,2.110001,1.860001,30.270000,31.452857,32.553333,1.528536
12060,2020-03-27,30.799999,31.740000,30.660000,30.900000,30.900000,36328600,1.080000,0.100000,30.211429,31.219286,32.411905,1.617717
12061,2020-03-30,31.049999,32.849998,31.049999,32.669998,32.669998,28409400,1.799999,1.619999,30.002857,31.015000,32.259524,1.637748
12062,2020-03-31,32.400002,33.000000,32.240002,32.639999,32.639999,27956500,0.759998,0.239998,30.324286,30.877857,32.223809,1.824683
12063,2020-04-01,31.920000,32.279999,31.530001,31.750000,31.750000,25337200,0.749998,-0.170000,30.842857,30.911428,32.117143,1.804973

In [11]:
#finding index
start=df.loc[df['Date']=='2009-04-06']
end=df.loc[df['Date']=='2019-04-05']
split=df.loc[df['Date']=='2017-04-03']
print(start.index,end.index,split.index)

Int64Index([9297], dtype='int64') Int64Index([11814], dtype='int64') Int64Index([11309], dtype='int64')

In [12]:
X=df.iloc[:,-6:]
y=df['Close']

# Like paper

In [13]:
start_time, split_time, end_time=9297, 11309,11814
X_train,X_val=X.loc[start_time:split_time],X.loc[split_time:end_time]
y_train,y_val=y.loc[start_time:split_time],y.loc[split_time:end_time]

In [14]:
X_train

            H-L       O-C  7 DAYS MA  14 DAYS MA  21 DAYS MA  7 DAYS STD DEV
9297   0.650000  0.150000  13.864286   13.935000   13.763810        0.289123
9298   0.250000 -0.110000  13.768571   13.895714   13.810476        0.258804
9299   0.350000 -0.060000  13.692857   13.842857   13.852381        0.276566
9300   0.370000 -0.070000  13.661429   13.827143   13.870952        0.265912
9301   0.300000 -0.050000  13.651429   13.821429   13.907143        0.229396
...         ...       ...        ...         ...         ...             ...
11305  0.289997  0.099998  34.270000   34.239286   34.263810        0.180974
11306  0.340000  0.170002  34.247143   34.257143   34.258095        0.180849
11307  0.289997  0.160000  34.240001   34.277143   34.268095        0.178515
11308  0.220001  0.000000  34.254286   34.294286   34.264762        0.181674
11309  0.250000  0.130001  34.217143   34.301429   34.250476        0.175085

[2013 rows x 6 columns]

In [15]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_val = sc.transform(X_val)

In [16]:
y_val

11309    34.240002
11310    34.340000
11311    34.189999
11312    34.110001
11313    34.099998
           ...
11810    42.840000
11811    42.910000
11812    42.840000
11813    42.740002
11814    42.990002
Name: Close, Length: 506, dtype: float64

In [17]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

In [18]:
model.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [19]:
y_pred=model.predict(X_val)

In [20]:
y_pred

array([34.27610104, 34.26180042, 34.20079998, 34.31450035, 34.32040024,
       34.25550007, 34.21930031, 34.27460037, 34.24340019, 34.21270016,
       34.2220002 , 33.81689972, 34.08099998, 34.13349995, 33.47970047,
       33.68710045, 33.94560055, 33.57660095, 34.02950047, 33.56390076,
       33.98520016, 34.01230034, 34.02200024, 34.01520016, 33.98150021,
       33.26390003, 33.66509983, 33.48249969, 33.3493993 , 33.35719967,
       33.41020016, 32.69139978, 32.88540007, 32.74339985, 32.33850027,
       32.52980011, 32.34910036, 31.99669975, 31.92159983, 31.91899969,
       32.06469954, 32.04499979, 32.04939972, 32.3691996 , 32.35409952,
       32.37839975, 32.27720015, 33.19499968, 32.37699942, 32.33399975,
       32.52290012, 32.78790031, 32.30900002, 32.72360004, 32.8269998 ,
       33.08759974, 33.44130005, 33.68319954, 33.75629963, 33.69609989,
       33.79290009, 33.89389992, 33.97549999, 34.37619995, 33.42440014,
       33.40050045, 33.94510002, 33.82210003, 33.16149956, 33.26109951,
       33.4894994 , 33.39759937, 33.11009933, 33.3441993 , 33.48889938,
       33.37739929, 33.45979939, 33.40449951, 33.06529949, 33.17919933,
       33.46199936, 33.42699947, 33.08199949, 33.40990047, 33.32780022,
       33.35719992, 33.36160049, 32.96809952, 33.07289953, 33.42379993,
       33.35719952, 33.2271994 , 33.45499952, 33.51049953, 33.41259956,
       32.91079969, 33.19259926, 33.48120071, 33.51160006, 33.34870018,
       32.92719957, 33.17260002, 32.90889975, 33.29160015, 33.14699953,
       33.66909977, 33.56879951, 33.20489941, 34.02930016, 33.6869001 ,
       34.0213998 , 34.27309998, 34.58250015, 34.12860012, 34.87320023,
       34.67350025, 35.10940086, 34.9098    , 35.56730068, 35.93770073,
       35.89130035, 35.77740013, 35.71689987, 35.84630016, 35.73099979,
       35.63189976, 35.6246999 , 35.49300003, 35.35360001, 35.50920006,
       35.5402    , 36.08869995, 36.20949993, 36.30649982, 36.23859989,
       36.54249985, 36.44449951, 36.71589966, 36.48599937, 36.72069958,
       36.64269939, 36.63229954, 36.55019962, 36.53689945, 36.38259949,
       36.29339989, 36.14279964, 35.99700024, 35.52509983, 35.49399998,
       35.39990017, 35.2826001 , 35.25560043, 35.29700016, 35.28810009,
       35.21480015, 35.19650009, 35.16660023, 35.14730011, 35.23580021,
       35.12110004, 35.11140003, 35.18100018, 35.31070007, 35.31130009,
       35.3027    , 35.45490002, 35.45180008, 35.40799999, 35.46600002,
       35.37269993, 35.89130005, 36.19039982, 36.16529991, 36.16759956,
       35.62259991, 35.59099995, 35.88780003, 36.0942001 , 36.36519955,
       36.45040001, 36.46189976, 36.29139984, 36.34309978, 36.49859966,
       36.60839931, 36.53950024, 36.74419983, 36.70950001, 36.68689976,
       36.8060997 , 36.72939957, 36.75179996, 36.46739967, 36.20819954,
       35.94069996, 35.86060009, 35.83730026, 35.99910019, 36.07850018,
       35.97680008, 35.78840046, 35.91750034, 35.89350052, 35.94870029,
       36.08790051, 35.93530052, 35.7055003 , 35.43680042, 35.43000042,
       35.65110031, 35.61860031, 35.43000042, 35.66580032, 35.50290047,
       35.10790031, 35.13690052, 35.31500038, 35.31720013, 34.36320004,
       34.54350025, 34.72560017, 35.3222002 , 34.98330017, 35.20730007,
       35.56810009, 35.58350029, 35.78520027, 36.06789989, 36.28209988,
       36.54229912, 36.65699913, 36.30439976, 36.69899918, 36.35309944,
       36.33939964, 36.01190002, 36.61419975, 36.39849979, 36.81549953,
       36.81229935, 36.45569969, 36.69739948, 36.67409969, 36.48009953,
       36.37259979, 35.97699982, 35.16930012, 35.26230034, 35.23760056,
       34.72900024, 35.3225    , 35.23850002, 35.29090012, 35.24690006,
       35.47740009, 35.43830002, 35.4787001 , 35.54249989, 35.44839996,
       35.49639992, 35.86400005, 36.32129951, 36.71739925, 36.75579929,
       36.80189934, 36.80789932, 36.67999973, 36.77929974, 36.89269951,
       36.45139935, 36.65369942, 36.57219959, 36.25769985, 35.93950001,
       35.26360031, 35.23020077, 35.37740051, 35.17140007, 35.22970016,
       35.22630001, 35.25980026, 35.25480015, 35.47419998, 35.40639996,
       35.56160004, 35.41359993, 35.52159992, 35.40849991, 35.38259991,
       35.55269993, 35.51269993, 35.43869987, 35.49009998, 36.07729992,
       36.17679996, 36.25829987, 36.26790043, 36.71349937, 36.43659969,
       36.69359997, 36.69459991, 36.6434996 , 36.78679943, 36.70599976,
       36.86619953, 36.76439941, 36.65790028, 36.67430012, 36.72359962,
       36.67919968, 36.64259941, 36.83609955, 36.61849983, 36.89700001,
       36.66229977, 36.94760029, 36.75319962, 36.49669987, 36.26739952,
       36.19209957, 35.94070015, 35.94750034, 35.87000027, 35.94360023,
       35.92610023, 35.90620029, 35.9639003 , 35.91630035, 36.03400051,
       36.1426004 , 35.96350018, 36.03260052, 35.97530048, 35.90830048,
       35.68600033, 35.62450031, 35.66580032, 35.66580032, 35.62780033,
       35.66580032, 35.45510044, 35.63230026, 35.60680046, 35.63270031,
       35.68690029, 35.81480042, 35.92850048, 35.91000038, 35.80570061,
       35.76900047, 35.78460037, 35.72610039, 35.5324004 , 35.72440037,
       35.77410046, 35.93410046, 35.95890045, 35.90620029, 35.97180054,
       35.9181004 , 35.93530052, 35.74180046, 36.03260052, 35.94280033,
       36.00840054, 35.94020042, 35.89120041, 35.81230042, 35.73660057,
       35.86010044, 35.80540031, 35.63920029, 35.55870049, 35.73300056,
       35.80110035, 35.91150032, 35.91880043, 35.93660034, 36.01060051,
       35.96370041, 35.98740047, 35.95810055, 35.90370045, 35.55960052,
       35.55960052, 35.66580032, 35.4410004 , 35.66580032, 35.66580032,
       35.42440044, 35.66580032, 35.61630032, 35.8151004 , 35.55960052,
       35.80870041, 35.53430054, 35.67450027, 35.67450027, 35.62780022,
       35.73310028, 35.4324004 , 35.83250042, 35.55960052, 35.93530052,
       35.86090042, 35.90830048, 35.73660057, 35.60640053, 35.60640053,
       35.81230042, 35.81890041, 35.92850048, 35.65620052, 35.70510048,
       35.90920044, 35.89120045, 35.93530052, 35.93530052, 35.81230042,
       35.67450027, 35.44220043, 35.43000042, 35.66580032, 35.43000042,
       35.66510033, 35.60060032, 35.59020042, 35.63650024, 35.59920044,
       35.47550037, 35.43000042, 35.43000042, 35.65110031, 35.66580032,
       35.43000042, 35.66580032, 35.66580032, 35.6116003 , 35.68600033,
       35.63590027, 35.43000042, 35.66580032, 35.6556002 , 35.63270031,
       35.67860031, 35.49910034, 35.92390045, 35.9036005 , 35.86810043,
       35.70170052, 35.9068005 , 35.69790054, 35.8550005 , 35.9451004 ,
       35.69310051, 35.57420059, 35.46930042, 35.66580032, 35.66580032,
       35.66580032, 35.61590031, 35.43680042, 35.43540043, 35.68330032,
       35.43680042, 35.68600033, 35.43000042, 35.64630024, 35.73210056,
       36.00060055, 35.94630039, 36.00190052, 35.74110046, 35.95460033,
       35.93530052, 35.92750046, 35.90470036, 35.88770035, 35.91850048,
       35.85640049, 35.6834005 , 35.86000053, 35.64110054, 35.62080063,
       35.4617004 , 35.68600033, 35.64120033, 35.64420025, 35.43000042,
       35.66580032, 35.63430035, 35.71570023, 35.85300037, 35.97380054,
       35.70310051, 35.94190037, 35.96750046, 35.73080048, 35.9620002 ,
       35.94650036, 36.03190052, 35.93020031, 35.91150043, 35.91780033,
       35.94630039])

In [21]:
y_val

11309    34.240002
11310    34.340000
11311    34.189999
11312    34.110001
11313    34.099998
           ...
11810    42.840000
11811    42.910000
11812    42.840000
11813    42.740002
11814    42.990002
Name: Close, Length: 506, dtype: float64

In [22]:
rmse(y_pred,y_val)

4.187778104327143

In [23]:
print_score(model)

rmse train 0.15767258553684282, rmse val 4.187778104327143, r^2 train 0.9994638469106586, r^2 val -0.17970459033886277

# suffled

In [24]:
from sklearn.model_selection import train_test_split
X_train,X_val,y_train,y_val=train_test_split(X,y,test_size=0.2)

In [25]:
y_train

5408      5.197917
8245     24.160000
6491     26.916666
8918     25.080000
10523    31.480000
           ...
9676     17.260000
329       0.940104
434       0.809896
119       0.895833
10193    25.190001
Name: Close, Length: 9651, dtype: float64

In [26]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

In [27]:
model.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [28]:
y_pred=model.predict(X_val)

In [29]:
rmse(y_pred,y_val)

0.5353054398674824

In [30]:
model.score(X_val,y_val)

0.998717394996211

In [31]:
print_score(model)

rmse train 0.19104338317964614, rmse val 0.5353054398674824, r^2 train 0.9998336736611092, r^2 val 0.998717394996211